locales
npm-debug.log
data
# Public folder is generated every time you start the site, don't commit it.
public
# Include our webfonts though.
!public/type
temp/uploadfs
node_modules
.jshintrc
.env
lib/modules/**/*.css
