{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}
  <header id="page-header">
    {% if data.page._url == data.page.home %}
      {% set home = true %}
    {% else %}
      {% set home = false %}
    {% endif %}
    {% set headlines = ['Spill the beans on', 'Fill my brain with', 'Drop some knowledge bombs about'] %}
    <h1 id="header-title{{ ' home' if home }}">
      {% if home %}
        {{headlines[range(0, headlines | length) | random]}}
      {% else %}
        {{data.piece.title}}
      {% endif %}
    </h1>
    {# User info always floats at top #}
    <div id="header-user">
      {{data.user.firstName}} {{data.user.lastName}} <i data-feather="user" id="header-user-icon"></i>
	  </div>
    {# Search starts at bottom, and moves with scroll until sticky. #}
		<form id="header-search" method="GET" action="/search">
  		<input id="header-search-bar" type="text" name="q" placeholder="{{data.piece.title}}" />
      <button type="submit" value="Search" id="header-search-submit">
        <i data-feather="search"></i>
      </button>
		</form>
	</header>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
  <script>
      feather.replace()
    </script>
{% endblock %}
