{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}
  <header id="page-header">
    {{ apos.log('Page URL: ' + data.page._url | string + '\nHome URL: ' + data.home._url | string) }}
    {% if data.page._url === data.home._url %}
      {% set home = true %}
    {% else %}
      {% set home = false %}
    {% endif %}
    {{ apos.log(home) }}
    {% set headlines = ["Spill the beans on", "Fill my brain with", 'Drop some knowledge bombs about'] %}
    <h1 id="header-title" class="{{ 'home' if home }}">
      {% if home == true %}
        CAL Knowledgebase
      {% elif data.piece %}
        {{data.piece.title}}
      {% elif data.page %}
        {{data.page.title}}
      {% endif %}
    </h1>
    {# User info always floats at top #}
    <div id="header-user">
      {% if data.user %}
        {{data.user.firstName}} {{data.user.lastName}} <i data-feather="user" id="header-user-icon"></i>
      {% else %}
        <a class="login-link" href="/auth/google/login">Login</a>
      {% endif %}
	  </div>
    {# Search starts at bottom, and moves with scroll until sticky. #}
		<form id="header-search" method="GET" action="/search">
  		<input id="header-search-bar" type="search" data-apos-search-field value="{{ data.query.q | e }}" name="q" placeholder="Fill my brain with..." />
      <button type="submit" value="Search" id="header-search-submit">
        <i data-feather="search"></i>
      </button>
		</form>
	</header>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
  <script>
    feather.replace()
    console.dir({{data | dump | safe }});
  </script>
{% endblock %}
